name: Security Pro

on: [push]

jobs:
  secure-check:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4

      - name: Check Password
        env:
          MY_PASS: ${{ secrets.TOUR_PASSWORD }}
        run: |
          echo "Пытаемся напечатать секрет для проверки:"
          echo "Мой пароль: $MY_PASS"
          
          if [ "$MY_PASS" == "Dombay2025" ]; then
            echo "Доступ разрешен! Поход на Домбай подтвержден."
          else
            echo "ДОСТУП ЗАПРЕЩЕН: Пароль неверный!"
            exit 1
          fi
