name: Docker Master

on: [push]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions: # Разрешаем роботу записывать данные в твой профиль
      packages: write
      contents: read
    steps:
      - name: Get Code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        # Используем встроенный токен, чтобы робот залогинился под тобой
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Push
        run: |
          # 1. Собираем образ с полным путем склада (ghcr.io/твой-логин/название)
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/dombay-site:v1
          
          docker build -t $IMAGE_ID .
          
          # 2. Отправляем (пушим) его на склад GitHub
          docker push $IMAGE_ID
