name: Docker Master

on: [push]

jobs:
  build-container:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4

      - name: Build My Image
        # Это команда Docker. Она читает Dockerfile и собирает образ.
        # -t (tag) — это имя нашей "коробки"
        run: docker build -t dombay-site:v1 .

      - name: Check Success
        run: echo "Образ собран! Наш Домбай теперь внутри контейнера."
