name: Artifacts Collector

on: [push]

jobs:
  build-tour:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4

      - name: Generate Ticket
        run: |
          echo "=== ТВОЯ ПУТЕВКА НА ДОМБАЙ ===" > ticket.txt
          echo "Локация: Домбай" >> ticket.txt
          echo "Статус: Оплачено" >> ticket.txt
          echo "Дата генерации: $(date)" >> ticket.txt

      - name: Upload Ticket
        # Специальный официальный экшен для сохранения файлов
        uses: actions/upload-artifact@v4
        with:
          name: tour-ticket # Имя архива
          path: ticket.txt  # Какой файл сохранить
