name: Docker Date Versioning

on: [push]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Get Code
        uses: actions/checkout@v4

      - name: Login to Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Push with Date
        run: |
          # 1. Создаем переменную с текущей датой
          TAG=$(date +%Y%m%d-%H%M)
          
          # 2. Формируем полное имя образа с этой датой
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/dombay-site:$TAG
          
          echo "Собираю образ с тегом: $TAG"
          
          # 3. Собираем и пушим
          docker build -t $IMAGE_ID .
          docker push $IMAGE_ID
