name: Production Packer

on: [push]

jobs:
  pack-dombay:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4

      - name: Create Production Folder
        run: |
          # Создаем папку для отправки
          mkdir build_folder
          # Копируем туда наш сайт
          cp index.html build_folder/
          # Создаем там файл с информацией о версии
          echo "Версия: 1.0.0. $(date)" > build_folder/version.txt

      - name: Upload Website Bundle
        uses: actions/upload-artifact@v4
        with:
          name: dombay-website-v1.0 # Название нашего "продукта"
          path: build_folder/       # Загружаем не один файл, а целую папку!
