name: Linux Inspector

on: [push]

jobs:
  inspect-dombay:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4

      - name: Check Content
        run: |
          echo "--- Начинаем проверку файла index.html ---"
          
          # 1. Проверяем слово "поход" (используем твой маркер)
          grep "поход" index.html
          
          # 2. Проверяем, есть ли в коде ссылка на картинку с озером (img)
          grep "lake" index.html
          
          # 3. Проверяем, не забыл ли ты закрыть тег </div>
          # Команда 'wc -l' посчитает количество строк в результате
          echo "Количество закрывающих тегов div:"
          grep "</div>" index.html | wc -l

      - name: Security Check
        run: |
          # Проверяем права доступа к файлу. 
          # В Linux 'ls -l' покажет, можно ли этот файл читать/менять
          ls -l index.html
          
      - name: Report
        run: |
          # Создаем отчет программным путем
          echo "Отчет от $(date)" > report.txt
          echo "Автор: $(whoami)" >> report.txt
          echo "Проверка Домбая пройдена успешно!" >> report.txt
          cat report.txt
